# Question 1
Consider the following Python module:
a = 0
def b():
global a
    a = c(a)
def c(a):
    return a + 2
    
After importing the module into the interpreter, you execute:

b()
b()
b()
a
?


What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

# Answer 1

In [822]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [823]:
b()#Function called and since a is global, a= c(a) calls the fucntion c. Function c returns a+2 which is 2. Since a=c(a), a=2

In [824]:
b()#Function called so a= c(a) calls the fucntion c. Function c returns a+2 which is 4. Since a=c(a), a=4

In [825]:
b()#Function called so a= c(a) calls the fucntion c. Function c returns a+2 which is 6. Since a=c(a), a=6

In [826]:
a#Prints a. Which is 6

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead.

# Answer 2

# The fileLength function code you shared for Answer 2

In [850]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        file = open(file_name) 

        linenumber=file.readlines()
        file.close()        
        print(len(contents))
    except FileNotFoundError:
        print ("File can't be found. Please check your file name.")
    except IOError:
        print("File is not text type. Please input a file can be read as text.")
    except:
        print("An unknown error occured. Please write your input again.")

In [851]:
fileLength("example.py")

12

# The fileLength function code i wrote to Answer 2

In [855]:
def fileLength_changed(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        file = open(file_name) 

        linenumber=file.readlines()#Reading the line number so i subtract them from total characters.
        file.close()        
        print(len(contents)-len(linenumber))
    except FileNotFoundError:
        print ("File can't be found. Please check your file name.")
    except IOError:
        print("File is not text type. Please input a file can be read as text.")
    except:
        print("An unknown error occured. Please write your input again.")

In [856]:
fileLength_changed("example.py")

9

# Explanation of Answer 2

"Example.py"
x=0
y=0
z=0


There are 9 characters in this file but read() function reads an indent at the end of the every raw so i needed to delete them by reading the line numbers.

# Question 3
sorunun fotoğrafını ekle

In [20]:
class Marsupial:#Creating class
    def __init__(self):
        self.names=[]
    def put_in_pouch(self,name):#Appending the pouch names
        self.names.append(name)
    def pouch_contents(self):#Printing function of the pouches
        print(self.names)
class Kangaroo(Marsupial):
    def __init__(self,xcord,ycord):
        Marsupial.__init__(self)#It gets subclass which means it can use the Marsupial's functions
        self.x=xcord
        self.y=ycord
    def __str__(self):
        return 'I am a Kangroo at ({},{})'.format(self.x,self.y)
    def jump(self,xccord,yccord):
        self.x+=xccord
        self.y+=yccord

In [21]:
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [22]:
k = Kangaroo(0,0)
print(k)

I am a Kangroo at (0,0)

In [23]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [24]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangroo at (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛

3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [208]:
def collatz(x):
    if x<=0:
        print("Please write a positive integer")#Checking if the input is non-negative.
        return
        
    
    elif x==1:
        #When x get to 1, loop should stop so returning nothing.
        print(int(x))
        return #When 
    else:
        print(int(x))
        #Defining statements
        if x%2==0:
            x=x/2
        else:
            x=3*x+1
    collatz(x)#Recursively starts the loop.
'''Let me demonstrate:
Input 10:
10%2==0 so prints input then x=10/2
Input 5:
5%2!=0 so prints input then x=3*5+1
Input 16:
16%2==0 so prints input then x=16/2
Input 8:
8%2==0 so prints input then x=18/2
Input 4:
4%2==0 so prints input then x=4/2
Input 2:
2%2==0 so prints input then x=2/2
Input 1:
X gets 1 so loop stops.

'''

In [818]:
collatz(-1)

Please write a positive integer

In [819]:
collatz(1)

1

In [820]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

# Answer 5

In [814]:
def binary(n):
   if n > 1:
       binary(n//2) #Calling function again with the floor divison
   elif n<0:
        print("Please input a non-negative number.")#The input should be non-negative
        return 
   print(n % 2,end = '') #Printing the remaining
'''Explanation:
Function takes an input and checks if it is non-negative or not, if not outputting a message.
If the input is larger than 1, it recursively call the function again until the divison gets to 1 or 0 because in binary only numbers are 0 and 1. 
When it gets to 1 or 0  it prints them. Then for every recall of function it prints the remaining.
Let me demonstrate.
Input 9:
9//2=4 recalls binary(4) remaining(1)
Input 4:
4//2=2 recalls binary(2) remaining(0)
Input 2: 
2//2=1 recalls binary(1) remaining(0)
Input(1):
Prints (1)
Then it prints all the remainings step by step.
'''

In [149]:
binary(-1)

Please input a non-negative number.

In [150]:
binary(0)

0

In [151]:
binary(1)

1

In [152]:
binary(3)

11

In [153]:
binary(9)

1001

In [212]:
binary(999)

1111100111

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [811]:
import html.parser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.indent=0
        self.tag=""        
    def handle_starttag(self, tag, attrs):
        if "h" in tag and tag!="head" and tag!="html":#Getting only headers with h1, h2 etc.
            self.tag=tag
            self.indent=int(self.tag[-1]) #Getting the number of heading and using them for indent              
        else:
            self.tag=""
    def handle_endtag(self, tag):
        a=0

    def handle_data(self, data):
        if self.tag!="" and any(c.isalpha() for c in data):
#Adding indents for headings and cleaning  unneccessary indents in data, indent number is one less than number of heading
#If you print directly there are unnecceray indents so a varible used for equation 
            noIndent=" "*(self.indent-1)+data.replace(" ","")
            print(noIndent)

In [812]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser()
hp.feed(content)

W3CMission
 Principles

In [ ]:
References for Answer 6: https://stackoverflow.com/questions/9072844/how-can-i-check-if-a-string-contains-any-letters-from-the-alphabet

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL

# Answer 7

In [ ]:

def webdir(url,depth,number):

In [ ]:
I could not do this question.

# Question 8
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

# Answer 8

In [790]:
import sqlite3
con = sqlite3.connect('ProblemSet2_8.db')
cur = con.cursor()
cur.execute("CREATE TABLE Keywords (City, Country, Season, Temperature,Rainfall)")

In [791]:
cur.execute("INSERT INTO Keywords VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Keywords VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Keywords VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4)")
cur.execute("INSERT INTO Keywords VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Keywords VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7)")
cur.execute("INSERT INTO Keywords VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Keywords VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Keywords VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Keywords VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Keywords VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Keywords VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Keywords VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

# Answer 8 a)

In [792]:
cur.execute('SELECT Temperature FROM Keywords')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# Answer 8 b)

In [793]:
cur.execute('SELECT DISTINCT City FROM Keywords')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

# Answer 8 c)

In [794]:
cur.execute("SELECT * FROM Keywords WHERE Country=='India'")
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# Answer 8 d)

In [795]:
cur.execute("SELECT * FROM Keywords WHERE Season=='Fall'")
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# Answer 8 e)

In [796]:
cur.execute("SELECT City,Country,Season FROM Keywords WHERE Rainfall>200 and Rainfall<400")
print(cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

# Answer 8 f)

In [797]:
cur.execute("SELECT City,Country,Season FROM Keywords WHERE Season=='Fall' and Temperature>20 ORDER BY Temperature ASC")
print(cur.fetchall())

[('Cairo', 'Egypt', 'Fall'), ('Mumbai', 'India', 'Fall')]

# Answer 8 g)

In [798]:
cur.execute("SELECT SUM(Rainfall) FROM Keywords WHERE City=='Cairo' ")
print(cur.fetchall())

[(27.6,)]

# Answer 8 h)

In [799]:
cur.execute("SELECT Season,SUM(RAINFALL) FROM Keywords GROUP BY Season")
print(cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9
. Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

# Answer 9

In [800]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Answer 9 a)

In [726]:
upperwords=[i.upper() for i in words]
upperwords

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# Answer 9 b)

In [727]:
lowerwords=[i.lower() for i in words]
lowerwords

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Answer 9 c)

In [729]:
lenwords=[len(i) for i in words]
lenwords

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# Answer 9 d)

In [788]:
fullwords= [[i.upper() if j==0 else i.lower() if j==1 else len(i) for j in range(3)] for i in words]
print(fullwords)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# Answer 9 e)

In [787]:
filterwords=[i  for i in words if 4<=len(i)]
print(filterwords)

['quick', 'brown', 'jumps', 'over', 'lazy']